@model List<Book>
<ul class="pagination">
    @for (int i = ViewBag.left; i <= ViewBag.right; i++)
    {
        <li class="page-item"><a class="page-link" href="/book/index/@i">@i</a></li>
    }
</ul>
<form action="/book/search">
    <input type="search" name="q"></input>
    <button>Search</button>
</form>
<table> 
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>
                    <img src="@item.ImageUrl" @item.Title width="150"></img>
                </td>
            </tr>
        }
    </tbody>
</table>  