@model WebApp.Models.SubCategory
<form action="/select/editsubcategory" method="post">
    <div>
        <input type="hidden" name="Id" value="@Model.Id" />
       <div>
            <label>Category</label>
            <select name="CategoryId">
                @foreach (var item in ViewBag.categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
       </div>
        <div>
            <label>Name</label>
            <input type="text" name="name" value="@Model.Name" />
        </div>
        <div>
            <button>Save Changes</button>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('select[name="CategoryId"]').val('@Model.CategoryId');
        });
    </script>
}