@using System.Security.Claims
<p>Wellcome: @User.Identity?.Name</p>
<p>Email: @User.FindFirstValue(ClaimTypes.Email)</p>
<p>Email: @User.FindFirstValue(ClaimTypes.NameIdentifier)</p>

<h2>Information</h2>
@foreach (var item in User.Claims)
{
    <p>@item.Type: @item.Value</p>    
}